@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}
/* Utility */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.contents{
    display: contents;
}
.blu{
    color: #0084FD;
}
.grigio{
    color: #5A6E7F;
}
.lilla{
    color: #9792E4;
}
.margin-bottom{
    margin-bottom: 15px;
}
.margin-bottom30{
    margin-bottom: 30px;
}
.center{
    align-self: center;
}
.relative{
    position: relative;
}
/* Header */
header{
    width: 100%;
    background-color: #0084FD;
    color: white;
}
header div{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
}
/* Main */

/* Sezione 1 */
.container{
    width: 80%;
    margin: 0 auto;
}
#sezione1 > div > div:first-child{
    margin: 0 auto;
    background-color: #B5DDFF;
    border: 1px solid #B5DDFF;
    border-radius: 30px;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 50px;
}
#sezione1 > div > div:first-child a{
    background-color: #0084FD;
    width: max-content;
    padding: 5px 30px;
    border: 1px solid #0084FD;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: block;
}

#sezione1 > div > div:nth-child(2){
    margin: 0 auto;
    background-color: #B5DDFF;
    border: 1px solid #B5DDFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 50px;
}
#sezione1 > div > div:nth-child(2) i{
    font-size: 60px;
}

#sezione1 > div > div:nth-child(3){
    margin: 0 auto;
    background-color: #B5DDFF;
    border: 1px solid #B5DDFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 50px;
}
#sezione1 > div > div:nth-child(3) i{
    font-size: 60px;
}

#sezione1 > div > div:nth-child(4){
    margin: 0 auto;
    background-color: #B5DDFF;
    border: 1px solid #B5DDFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 50px;
}
#sezione1 > div > div:nth-child(4) i{
    font-size: 60px;
}

#sezione1 > div > div:last-child{
    margin: 0 auto;
    background-color: #B5DDFF;
    border: 1px solid #B5DDFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 50px;
}
#sezione1 > div > div:last-child i{
    font-size: 60px;
}

@media screen and (min-width: 480px){
    
    #sezione1 .container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .div-grande{
        width: 65%;
    }
    .div-piccolo{
        width: 30%;
    }
}
/* Sezione 2 */
#sezione2{
    background-color: #9792E4;
    width: 100%;
}
#sezione2 > div{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px 0;
    color: white;
}
#sezione2 > div > div:last-child{
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    color: black;
    text-align: center;
    padding: 20px;
}
#sezione2 > div > div a{
    background-color: #9792E4;
    border: 1px solid #9792E4;
    padding: 10px 19px;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
}
/* sezione 3 */
#sezione3{
    margin: 60px 0;
}
#sezione3 > div{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
#sezione3 > div > div{
    padding: 30px 0;
    background-color: #9792E4;
    border: 20px solid #9792E4;
    border-radius: 10%;
    text-align: center;
    color: white;
}
#sezione3 > div > div > img{
    border: 1px solid white;
    border-radius: 100%;
}
/* sezione 4 */
#sezione4{
    background-color: #9792E4;
    width: 100%;
}
#sezione4 > div{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    color: white;
}
#sezione4 > div div{
    background-color: white;
    color: #9792E4;
    border: 20px solid white;
    border-radius: 20px;
    margin: 30px 0;
}
#sezione4 > div div a{
    text-decoration: none;
    padding: 7px 30px;
    background-color: #9792E4;
    border-radius: 15px;
    color: white;
}
/* Sezione 5 */
#sezione5 > div{
    width: 70%;
    margin: 50px auto;
}
#sezione5 > div > div img{
    border: 1px solid white;
    border-radius: 100%;
}
#sezione5 > div a{
    text-decoration: none;
    padding: 7px 30px;
    background-color: #9792E4;
    border-radius: 15px;
    color: white;
}
.virgoletta{
    position: absolute;
    right: 40%;
    top: 0;
    font-size: 72px;
}
/* Sezione 6 */
#sezione6{
    background-color: #9792E4;
}
#sezione6 > div{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    color: white;
    text-align: center;
}
#sezione6 > div > a{
    background-color: white;
    border-radius: 15px;
    padding: 10px 30px;
    color: #9792E4;
    display: inline-block;
    text-decoration: none;
}
#sezione6 ul li{
    display: inline-block;
    list-style-type: none;
}
#sezione6 ul li a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
/* Footer */
footer{
    background-color: #222;
    width: 100%;
}
footer > div{
    width: 70%;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 50px 0;
}